{% extends "base.twig" %}

{% block content %}
	 <section class="content wrapper" role="main">
    <div class="content-wrapper">
      <h1>Hmm, we looked all over and we can't find it</h1>
      <h3>404 Error</h3>
    </div>
   </section>
{% endblock %}